body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fbfef5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fbfef5;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);
}

.steps {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #03823f;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.2);
}

.sidenav img {
    width: 80px;
    border-radius: 50%;
}

.sidenav h2 {
    color: #3db47a;
    margin-bottom: 200px;
    text-align: right;
    margin-right: 40px;
    font-size: 42px;
}

.sidenav a {
    position: relative;
    text-align: left;
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #7e8178;
    display: block;
    margin-bottom: 40px;
    margin-left: 50px;
    font-weight: bold;
}

.sidenav a:hover {
    color: black;
}

.sidenav a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -16px;
    height: 100%;
    width: 7px;
    background-color: #03823f;
    display: none;
}

.sidenav a:hover::before {
    display: block;
}

.sidenav a.logout {
    margin-top: 200px;
    margin-left: 50px;
    font-size: 18px;
}

.content {
    text-align: center;
    margin-top: 40px;
}

p {
    font-size: 26px;
    color: #7e8178;
    margin-bottom: 50px;
}

h1 {
    font-size: 36px;
    color: white;
}

.form-header {
    background-color: #03823f;
    padding: 10px 100px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-top: -10px;
    margin-bottom: 50px;
}
.form-content2{
    margin-top: 115px;
}

.form-style-9 ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.form-style-9 ul li {
    display: block;
    margin-bottom: 25px;
    min-height: 35px;
}

.form-style-9 ul li .field-style {
    box-sizing: border-box;
    padding: 8px;
    outline: none;
    font-size: 18;
    border: 2px solid #002347;
    border-radius: 5px;
}

.form-style-9 ul li .field-style:focus {
    border: 2px solid #e76c06;
}

.form-style-9 ul li .field-split {
    width: 49%;
    height: 40px;
}

.form-style-9 ul li .field-full {
    width: 100%;
    height: 40px;
}

.form-style-9 ul li input.align-left {
    float: left;
}

.form-style-9 ul li input.align-right {
    float: right;
}

.form-style-9 ul li textarea {
    width: 100%;
    height: 100px;
    font-family: sans-serif;
}

.field-style.field-full {
   width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 50px 15px 15px 15px;
}

li {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

input[type="text"],
input[type="varchar"],
textarea,
input[type="date"],
input[type="file"],
input[type="int"] {
    width: 48%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #03823f;
}


.bday{
    width: 48%;
}

.bday {
width: 48%;
display: flex;
flex-direction: column;
margin-bottom: 20px;
float: left;
}

.bday label {
text-align: left;
margin-left: 10px;
}

.date-input {
    width: 100%;
}

.upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 200px;
    border: 2px dashed #535353;
    margin-right: 85px;
    float: right;
}

.upload-container input[type="file"] {
    display: none;
}

.upload-container label {
    margin: 0;
    color: #535353;
}

.upload-container img {
    max-width: 100%;
    max-height: 100%;
}

.lab {
    margin-top: 160px;
    position: relative;
    float: right;
    right: -150px;
}

.lab label {
    padding: 5px 10px;
    background-color: white;
    border-style: groove;
    color: #03823f;
    border-radius: 5px;
    cursor: pointer;
}

.total {
    text-align: center;
    margin: 50px 10px 10px 10px;
    max-width: none;
}

.total label {
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.amount {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back,
.next {
    background-color: #03823f;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
    margin: 20px 20px;
}

.next:hover,
.back:hover {
    background-color: #3db47a;
}

#uploaded-image {
    max-width: 100%;
    height: auto;
}