
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: #fbfef5;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .sidenav {
            height: 100%;
            width: 350px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #fbfef5;
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            box-shadow: 10px 0 20px rgba(0, 0, 0, 0.2);
        }

        .steps {
            height: 100%;
            width: 350px;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color: #03823f;
            display: flex;
            flex-direction: column;
            padding-top: 20px;
            box-shadow: -10px 0 20px rgba(0, 0, 0, 0.2);
        }

        .sidenav img {
            width: 80px;
            border-radius: 50%;
        }

        .sidenav h2 {
            color: #3db47a;
            margin-bottom: 200px;
            text-align: right;
            margin-right: 40px;
            font-size: 42px;
        }

        .sidenav a {
            position: relative;
            text-align: left;
            padding: 8px 8px 8px 16px; 
            text-decoration: none;
            font-size: 20px;
            color: #7e8178;
            display: block;
            margin-bottom: 40px;
            margin-left: 50px;
            font-weight: bold;
        }

        .sidenav a:hover {
            color: black;
        }

        .sidenav a::before {
            content: '';
            position: absolute;
            top: 0;
            left: -16px;
            height: 100%;
            width: 7px;
            background-color: #03823f; 
            display: none; 
        }

        .sidenav a:hover::before {
            display: block; 
        }

        .sidenav a.logout {
            margin-top: 200px;
            margin-left: 50px; 
            font-size: 18px;
        }

        .content {
            text-align: center;
            margin-top: 40px;
        }

        p {
            font-size: 26px;
            color: #7e8178;
            margin-bottom: 50px;
        }

        h1 {
            font-size: 36px;
            color: white;
        }

        .form-header {
            background-color: #03823f;
            padding: 10px 100px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            text-align: center;
            color: white;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }

        .form-container {
            max-width: 1000px;
            margin: 0 auto;
            padding: 0;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            margin-top: -10px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 50px 15px 15px 15px;
        }

        li {
            margin-bottom: 20px;
        }

        input[type="text"],
        textarea {
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        textarea {
            resize: vertical;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-size: 18px;
            color: #03823f;
        }

        .amount {
            width: 80px;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

        .btn {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .back,
        .next {
            background-color: #03823f;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
            border: none;
            margin: 20px 20px;
        }

        .next:hover,
        .back:hover {
            background-color: #3db47a;
        }
